body{
	background-image: url('tlo.png');
    background-size: cover;
    background-attachment: fixed;
	margin: 0;
	padding: 0;
	font-family: "Century Gothic";
}
.footer{
	font-weight: 700;
	padding-bottom: 10px;
	padding-top: 10px;
	background-color:#333;
	font-size: 100%;
	color: white;
	text-align: center;
	}
#navbar {
	overflow: hidden;
	background-color: #333;
}
#navbar #black_cock_button{
	float: right;
	margin-right: 10px;
}
#navbar img {
	width: 45px;
	height: 45px;
	overflow: hidden;
	
}
#navbar #text{
	padding: 14px 16px;
}
#navbar a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	text-decoration: none;
	font-size: 17px;
}

#navbar a:hover {
	background-color: #ddd;
	color: black;
}

#navbar a.active {
	background-color: #696969;
	color: white;
}
.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

.sticky + .content {
	padding-top: 60px;
}

#hotrod{
	margin-left: 20px;
	width: 150px;
	height: 150px;
}

#big_chungus{
	border: 1px solid white;
	color: white;
	background: rgb(39, 39, 39);
	font-size: 20px;
	cursor: pointer;
	margin:  10px;
}
#big_chungus img{
	width: 100px;
	height: 100px;
}
#popup{
	position: fixed;
	top: 40%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 600px;
	padding: 50px;
	box-shadow: 0 5px 30px rgb(0, 0, 0,.30);
	background: #333;
	visibility: hidden;
	opacity: 0;
	transition: 0.5s;
}
#popup.active{
	top: 50%;
	visibility: visible;
	opacity: 1;
	transition: 0.5s;
}
#fuzzybrain{
	text-align: center;
	padding: 50px;
	margin-right: auto;
	margin-left: auto;
	font-size: 45px;
}
#menu_text_i_zdjecie{
	width: auto;
	overflow: hidden;
}

.divcennik #nrltxt{
	text-align: center;
	font-size: 50px;
}

.divcennik_2 #pdtxt {
	overflow: hidden;
	padding: 40px;
	margin-right: auto;
	margin-left: auto;
	font-size: 40px;
}

#divlogo{
	float: left;
}
#tekstwlogo {
	text-align: center;
	padding: 40px;
	margin-right: auto;
	margin-left: auto;
	font-size: 45px;
}
#logo{
	width: 100px;
	height: 100px;
}
.dayglow{
	width: 29%;
	height: 350px;
	background: #666666;
	margin: 20px;
	box-sizing: border-box;
	padding-top: 25px;
	color: white;
}
.pudlo{
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-flow: wrap;
}


@media screen and (max-width:1264px){
	.dayglow{
		width: 40%;
	}
}
@media screen and (max-width:840px){
	.dayglow{
		width: 60%;
	}

}
@media screen and (max-width:618px){
	#hotrod{
		width: 0px;
		height: 0px;
		
	}
	#fuzzybrain{
		margin-top: 50px;
	}
	#prawa_kolumna, #prawa_kolumna_white{
		margin-top: 70px;
	}
}
/*@media (max-width: 768px){
	#prawa_kolumna, #prawa_kolumna_white {
	    width: 96%;
	    float: right;
	    padding: 2%;
		margin-bottom: 20px;
	}
	#glowna_kolomna, #glowna_kolomna_white {
	    width: 96%;
    	float: left;
	    padding: 2%;
	}
} */
.guzik{
	border: 1px solid white;
	color: white;
	background: rgb(39, 39, 39);
	padding: 10px 20px;
	font-size: 20px;
	cursor: pointer;
	margin:  10px;
}
.xchuj{
	float: right;
	border: 1px solid white;
	color: white;
	background: rgb(39, 39, 39);
	padding: 10px 20px;
	font-size: 20px;
	cursor: pointer;
	margin:  10px;
}
#content_chuj {
    max-width: 1450px;
    margin: 0 auto 0px;
	overflow: hidden;
	color: white;
} 
#prawa_kolumna{
	width: 21%;
    float: right;
    background-image: url("dark_theme_background.png");
	padding: 1%;
	text-align: center;
}
#glowna_kolomna{
	width: 74%;
    min-height: 430px;
    float: left;
    background-image: url("dark_theme_background.png");
	padding: 1%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-size: 30px;
}
#prawa_kolumna_white{
	width: 21%;
    float: right;
    background-image: url("white_background.png");
	padding: 1%;
	text-align: center;
	color: black;
}
#glowna_kolomna_white{
	width: 74%;
    min-height: 430px;
    float: left;
    background-image: url("white_background.png");
	padding: 1%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-size: 30px;
	color: black;
}
#mniejszy_text{
	font-size: 20px;
}